<h1>New drive</h1>
<h2>Hello {{ passenger.first_name }}!</h2>
Thanks for driving with me on {{ drive.date }} from {{ drive.start_location }} to {{ drive.end_location }}.
<table>
    <thead>
        <tr>
            <th>Start</th>
            <th>End</th>
            <th>From</th>
            <th>To</th>
            <th>Car plates</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ drive.start_mileage }}</td>
            <td>{{ drive.end_mileage }}</td>
            <td>{{ drive.start_location }}</td>
            <td>{{ drive.end_location }}</td>
            <td>{{ drive.car.plates }}</td>
        </tr>
    </tbody>
</table>
The starting mileage was <b>{{ drive.start_mileage }}</b>, the en
Please confirm your participation and select your project by clicking on the link below.
<br/>
<a href="{{ verification_url }}">Click here</a>
<br/>
Sincerely, {{ driver.first_name }} {{ driver.last_name }}
<hr/>
<h2>привіт {{ passenger.first_name }}!</h2>
Дякую за кермо зі мною у  вівтор, з {{ drive.start_location }} до {{ drive.end_location }}.
Будь ласка, підтвердіть свою участь і вибрати проект, натиснувши на посилання нижче.
<table>
    <thead>
    <tr>
        <th>витоки</th>
        <th>кінець</th>
        <th>від</th>
        <th>до</th>
        <th>автомобільні тарілки</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ drive.start_mileage }}</td>
        <td>{{ drive.end_mileage }}</td>
        <td>{{ drive.start_location }}</td>
        <td>{{ drive.end_location }}</td>
        <td>{{ drive.car.plates }}</td>
    </tr>
    </tbody>
</table>
<br/>
<a href="{{ verification_url }}">натисніть тут</a>
<br/>
щиро, {{ driver.first_name }} {{ driver.last_name }}
<hr/>
<h2>Witaj {{ passenger.first_name }}!</h2>
Dziękuję za przejazd ze mną {{ drive.date }} z {{ drive.start_location }} do {{ drive.end_location }}.
Potwierdź swój udział i wybierz project klikając na link poniżej.
<table>
    <thead>
    <tr>
        <th>Stan początkowy</th>
        <th>Stan końcowy</th>
        <th>Początek</th>
        <th>Koniec</th>
        <th>Numer rejestracyjny</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ drive.start_mileage }}</td>
        <td>{{ drive.end_mileage }}</td>
        <td>{{ drive.start_location }}</td>
        <td>{{ drive.end_location }}</td>
        <td>{{ drive.car.plates }}</td>
    </tr>
    </tbody>
</table>
<br/>
<a href="{{ verification_url }}">Kliknij tutaj</a>
<br/>
Pozdrawiam, {{ driver.first_name }} {{ driver.last_name }}
